*{
	margin: 0;
	padding: 0;
}
#banner {
	background: linear-gradient(rgba(0,0,0,0),rgba(33,49,63,0.9)),url(Magnolias.jpg);
	background-size: cover;
	background-position: top;
	height: 100vh;
	}

.banner-text {
	position: sticky;
	text-align: left;
	top: 55vh;
	color: white;
	padding: 150px;
	}

.banner-text h1 {
	color: white;
	font-family: 'Arimo', sans-serif;
	font-size: 90px;
	}

.banner-text p {
	color: white;
	font-family: 'Arimo', sans-serif;
	font-size: 50px;
	}


/*navbar start*/

body {
	font-family: "Lato", sans-serif;
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #1D4368;
	overflow-x: hidden;
	transition: 0.2s;
	padding-top: 60px;
	}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s;
	}

.sidebar a:hover {
	color: #9DBEC0;
	}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	}

.openbtn {
	font-size: 30px;
	cursor: pointer;
	background-color: none;
	color: white;
	padding: 15px 15px;
	margin: 50px 50px;
	border: none;
	}

.openbtn:hover{
	color: #9DBEC0;
	}

#main {
	transition: margin-left .5s;
	padding: 0px;
	float: right;
	}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
	}

/*navbar finish*/

#about {
	background-color: #FFFFFF;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	}

#portfolio {
	background-color: #E8E4E4;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	}

#contact {
	background-color: #FFFFFF;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	}


.title-text {
	top: 55vh;
	padding-bottom: 70px;
	padding-left: 150px;
	padding-top: 75px;
	}

.title-text h4 {
	margin: auto;
	color: black;
	font-family: Helventica, sans-serif;
	font-size: 40px;
	position: relative;
	z-index: 
	}

